/*start global rules*/
:root {
    --active-color:#460626;
    --disabled-color:#944b70;
  }

*{
    list-style: none;
  }
/*end global rules*/
#slider{
    .container{
        width: 60%;
        padding: 10px 0;
        margin: 0 auto;
        .slider-container{
            position: relative;
            width: 100%;
            height: 350px;
            .slider-num{
                color: white;
                background-color: rgb(14, 13, 13,.8);
                padding: 5px 10px;
                border-radius: 5px;
                margin: 10px 0 0 10px;
                position: absolute;
                z-index: 2;
            }
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                opacity: 0;
                transition: opacity .2s;
            }
            .active{
                opacity: 1;
            }
        }
        .controls{
            padding: 30px 0 50px;
            display: flex;
            justify-content: space-between;
            .prev, .next{
                background-color: var(--active-color);
                border: none;
                border-radius: 5px;
                color: white;
                width: 200px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                cursor: pointer;
            }
            .prev{
                float: left;
            }
            .next{
                float: right;
            }
            .disabled{
                background-color: var(--disabled-color);
                cursor: no-drop;
            }
            .indecators{
                display: flex;
                align-items: center;
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    li{
                        background-color: gainsboro;
                        padding: 2px 10px;
                        border-radius: 5px;
                        color: black;
                        text-align: center;
                        cursor: pointer;
                        font-weight: 500;
                    }
                    .active{
                        background-color: var(--active-color);
                        color: white;
                    }
                }
            }
        }
    }
}